@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

body {
  background-color: #fdf5e6;
  color: rgb(0, 73, 51);

  font-size: 16px;
  font-weight: 900;
  /* (не все слова) */
  font-family: "Roboto", sans-serif;

  font: bold 16px "Roboto", sans-serif;
}

a {
  color: rgb(0, 73, 51);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  color: rgb(43, 226, 171);
}

a:visited {
  color: grey;
}

/* ?????? */
abbr {
  color: rgb(97, 0, 89);
  text-decoration: none;
}

#avatar {
  width: 250px;
  border-radius: 10px;
  box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.445);
  margin-bottom: 20px;
}

.info-text {
  margin-left: 25px;
  background-color: aqua;
  padding: 15px 20px;
  /* margin-bottom: 20px; */
  border-radius: 10px;
  width: 100%;
  box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.445);
  margin-bottom: 20px;
}

.info {

  display: flex;
  margin: 0;
  /* font-style: italic;
    font-weight: bold;  */
  text-decoration: none;
  /* text-transform: lowercase; */
    
}

@media (max-width:700px) {
    .info {
        text-align: center;
        display:block;
        

    }
}
@media (max-width:700px) {
    #avatar {
        text-align: center;
        display:block;
        

    }
}

@media (max-width:700px) {
    .info-text {       
        margin-left: 0;
        
        
    }
}

@media (max-width:700px) {
    .card {
        text-align: center;
        display:block;
        

    }
}

.container {
  max-width: 750px;
  margin: auto;
  padding-top: 30px;
}

/* box model */
/* .social {
 background-color: #0055ff;
 padding: 15px;
 border: 5px solid red;
 margin: 20px;
 } */

/* .box-model > div  */
/* .box-model > div {
    float: left;
 height: 200px;
 background-color: black;
 border: 4px solid red;
 width: 25%;
 box-sizing: border-box;*/

.bg-yellow {
  background-color: rgb(223, 230, 125);
}

.bg-green {
  background-color: rgb(148, 236, 122);
  display: flex;
  justify-content:space-around;

}

.bg-red {
  background-color: rgb(233, 99, 99);
}

.card {
  padding: 15px 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.445);
}

.card h2 {
  margin-bottom: 10px;
}

.list {
  padding: 0 20px;
}

.list li {
  margin-bottom: 10px;
}

.table {
  width: 100%;
}

.table td {
  padding-bottom: 10px;
}

/* .table td:nth-child(1),
.table td:nth-child(2) {
color: red;
} */

/* .table tr:nth-child(even) {
    background: green;
} */

.link-list {
  list-style: square;
  padding: 0;
}

.link-list li {
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: 1px solid #ccc;
}

.contact h2 {
  text-align: center;
}

.form-group label {
  display: block;
  font-size: 14px;
  color: #86898f;
}

.form-group input,
.form-group textarea {
  width: 100%;
  box-sizing: border-box;
  border: none;
  background: transparent;
  border-bottom: 1px solid #ccc;
  color: black;
  padding: 15px 0 10px;
  outline: none;
  font-family: inherit;
}

.row {
  display: flex;
  margin-bottom: 20px;
}

.row > .form-group {
  width: 50%;
  margin-right: 20px;
}

.row > .form-group:first-child {
  margin-right: 20px;
}

.btn {
  background-color: black;
  padding: 15px 20px;
  color: white;
  border: none;
  font-family: inherit;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.9;
}

/* position */

/* .position {
    position: relative;
  border: 4px solid black;
    margin-top: 40px;
  padding: 20px;
  height: 300px;
}

.box {
    position: fixed;
    bottom: 0;
    left: 0;
    top: 50px;
  width: 50px;
  height: 50px;
  background: lightcoral;
} */

